<!--
 Copyright 2023-2024 Michael Reuter. All rights reserved.
 Use of this source code is governed by a BSD-style
 license that can be found in the LICENSE file.
-->
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Helios</title>
  <link rel="stylesheet" href="{{ url_for('static', path='/css/bulma.min.css') }}">
</head>

<body>
  <div class="tile is-ancestor mx-3">
    <div class="tile is-vertical">
      <div class="tile is-parent">
        <div class="tile is-12 is-child box has-text-centered notification is-warning">
          <p class="notification is-warning has-text-centered is-size-3">
            Sun Information for {{ date }}
          </p>
        </div>
      </div>
      <div class="tile is-parent">
        <div class="tile is-3 is-child box has-text-centered notification is-warning">
          <p class="heading">Astronomical Dawn</p>
          <p class="title">{{ astronomical_dawn }}</p>
        </div>
        <div class="tile is-3 is-child box has-text-centered notification is-warning">
          <div>
            <p class="heading">Nautical Dawn</p>
            <p class="title">{{ nautical_dawn }}</p>
          </div>
        </div>
        <div class="tile is-3 is-child box has-text-centered notification is-warning">
          <div>
            <p class="heading">Civil Dawn</p>
            <p class="title">{{ civil_dawn }}</p>
          </div>
        </div>
        <div class="tile is-3 is-child box has-text-centered notification is-warning">
          <div>
            <p class="heading">Sunrise</p>
            <p class="title">{{ sunrise }}</p>
          </div>
        </div>
      </div>
      <div class="tile is-parent">
        <div class="tile is-3 is-child box has-text-centered notification is-warning">
          <p class="heading">Sunset</p>
          <p class="title">{{ sunset }}</p>
        </div>
        <div class="tile is-3 is-child box has-text-centered notification is-warning">
          <div>
            <p class="heading">Civil Dusk</p>
            <p class="title">{{ civil_dusk }}</p>
          </div>
        </div>
        <div class="tile is-3 is-child box has-text-centered notification is-warning">
          <div>
            <p class="heading">Nautical Dusk</p>
            <p class="title">{{ nautical_dusk }}</p>
          </div>
        </div>
        <div class="tile is-3 is-child box has-text-centered notification is-warning">
          <div>
            <p class="heading">Astronomical Dusk</p>
            <p class="title">{{ astronomical_dusk }}</p>
          </div>
        </div>
      </div>
      <div class="tile is-parent">
        <div class="tile is-12 is-child box has-text-centered notification is-warning">
          <p class="is-size-4">Length of day: {{ day_length }}</p>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
