<!--
 Copyright 2023 Michael Reuter. All rights reserved.
 Use of this source code is governed by a BSD-style
 license that can be found in the LICENSE file.
-->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/css/bulma.min.css') }}">
  </head>
  <body>
  <div class="container">
    <div class="notification is-warning has-text-centered is-size-3">
      Sun Information for {{ date }}
    </div>
  </div>
  <nav class="level is-warning">
    <div class="level-item has-text-centered notification is-warning">
      <div>
        <p class="heading">Astronomical Dawn</p>
        <p class="title">{{ astronomical_dawn }}</p>
      </div>
    </div>
    <div class="level-item has-text-centered is-warning">
      <div>
        <p class="heading">Nautical Dawn</p>
        <p class="title">{{ nautical_dawn }}</p>
      </div>
    </div>
    <div class="level-item has-text-centered is-warning">
      <div>
        <p class="heading">Civil Dawn</p>
        <p class="title">{{ civil_dawn }}</p>
      </div>
    </div>
    <div class="level-item has-text-centered is-warning">
      <div>
        <p class="heading">Sunrise</p>
        <p class="title">{{ sunrise }}</p>
      </div>
    </div>
    <div class="level-item has-text-centered is-warning">
      <div>
        <p class="heading">Sunset</p>
        <p class="title">{{ sunset }}</p>
      </div>
    </div>
    <div class="level-item has-text-centered is-warning">
      <div>
        <p class="heading">Civil Dusk</p>
        <p class="title">{{ civil_dusk }}</p>
      </div>
    </div>
    <div class="level-item has-text-centered is-warning">
      <div>
        <p class="heading">Nautical Dusk</p>
        <p class="title">{{ nautical_dusk }}</p>
      </div>
    </div>
    <div class="level-item has-text-centered is-warning">
      <div>
        <p class="heading">Astronomical Dusk</p>
        <p class="title">{{ astronomical_dusk }}</p>
      </div>
    </div>
  </nav>
  <div class="tile is-ancestor">
    <div class="tile is-4 notification is-warning">
      <!-- 1/3 -->
    </div>
    <div class="tile notification is-warning">
      <!-- This tile will take the rest: 2/3 -->
    </div>
  </div>
  </body>
</html>
